/* background photo creds: Photo by Bailey Zindel on Unsplash */

@media (max-width: 600px) {
    .wrapper {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }
}


@media (max-width: 900px) {
    .background img {
        display: none;
    }

    .ways-header {
        position: relative !important;
       /* text-align: center; */
       /* padding-bottom: 500px; */
       /* margin-left: 100%; */
       z-index: 1 !important;
       margin-right: 0 !important;
       font-size: 5em !important;
       margin-bottom: 2em;
       flex: 1;
    }

    .about-ways-container {
        margin: 0 !important;
        margin-top: 0 !important;
    }

    .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 70%;
        padding: 0 !important;
    }

    .landing-page {
        margin: 0 !important;
        padding: 0 !important;
    }

    .landing-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding-left: 0;
    }
    
    .landing-page {
        height: fit-content;
        position: absolute !important;
    }
      
}

.wrapper div {
    padding: 10px;
    max-width: 200px;
}

.landing-page {
    text-align: center;
    /* border: 2px solid red; */
    padding: .5em;
    /* background-color: gray; */
    position: absolute;
    z-index: 1;
    margin-top: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container {
    display: flex;
    justify-content: center;
}

.ways-header {
    position: absolute;
    z-index: -1;
    font-size: 10em;
    margin-top: 0;
    margin-right: 4em;
    color: #e61f82;
}

section.landing-page::before {
    content: '';
    margin-top: 10em;

}

.ways-info {
    /* border: 2px solid #e61f82; */
    background-color: #e61f82;
    border-radius: 20px;
    font-size: small;
    padding: .5em;
    max-width: 10em;
}

.background {
    position: absolute;
    margin-left: 2em;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.background img {
    margin-left: 9em;
}

.about-ways-container {
    margin: 1em 0 0 0;
    padding: 10px;
    width: 100vw;
    background-color: #65b2ef;
}

.about-ways {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 15%;
}

.wrapper {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    font-size: 20px;
}

.circle-container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.circle {
    width:250px; 
     height:250px;
     /* border:1px solid #000;  */
     border-radius: 0 0 0 240px;
    background: #65b2ef;
    z-index: 1;
    position: absolute;
}

.background-image {
    opacity: 50%;
    width: 100vw;
    height: 100vh;
}

.landing-page-background {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
