.my-trips-header {
    padding: 20px;
    text-align: center;
    margin: 20px;
    width:100%;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px #000;
    background: rgb(247, 134, 243);
    background: linear-gradient(90deg, rgb(245, 23, 237) 0%, rgba(20,5,242,1) 100%);
}

.my-trips {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-left: 0;
  padding-left: 2em;
  padding-right: 3em;
  border-top: 5px solid var(--waysBlue);
  border-radius: 20px;
}

.my-trip-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1em;
}

.edit-delete-trip-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delete-btn {
    width: 7em !important;
}

.delete-btn, .edit-btn {
    width: 5em;
    font-size: 1em;
    text-align: center;
    margin: .4em 0 0 0;
    padding: 0;
}

.my-trip-card-wrapper {
    margin: 1em;
}

/* .TripCard {
    margin: 1em;
} */
