.my-trips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-left: 0;
    padding-left: 2em;
    border-top: 5px solid var(--waysBlue);
    border-radius: 20px;
}

.trip-cards {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.TripCard {
    margin: 1em;
}