.TripViewNav {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  text-align: center;
}

.nav-buttons {
  margin-top: 3px;
}

@media all and (min-width: 650px) {
  .nav-buttons {
    margin-top: 0px;
  }
}
