.TripViewNav {
  background-color: rgb(245, 245, 245);
  padding: 4px;
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: 0.99;
  z-index: 50;
}

.nav-buttons {
  margin-top: 3px;
}

@media all and (min-width: 650px) {
  .nav-buttons {
    margin-top: 0px;
  }
}
