.addTripForm {
  padding: 10px;
  width: 99%;
}

.addTripForm > label,
.placeSearch {
  font-size: 20px;
  font-weight: bold;
}

.addTripForm > input {
  margin-bottom: 12px;
}

.addTripSection > div > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #65b1ef;
  text-align: center;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}

.addTripForm > input::-webkit-input-placeholder,
.location-box::-webkit-input-placeholder {
  color: rgb(184, 184, 184);
}

#days,
#rating {
  text-align: center;
  width: 120px;
  margin-left: 10px;
}

.trip-rating-days {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.TripCardDemo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.demo-middle {
  word-wrap: break-word;
}

.TripCardDemo-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.TripCardDemo-wrapper > img {
  width: 50px;
  height: 50px;
  align-self: flex-start;
  margin: 100px 5px 0px 5px;
}

.TripCardDemo-wrapper > img:active {
  margin-top: 101px;
}

.country-menu {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 12px 20px 12px 20px;
  font-weight: bold;
  width: 30%;
  margin-top: 12px;
  color: rgb(82, 82, 82);
}

.selectCountry {
  text-align: center;
}

.placeSearch {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.location-box {
  width: 100%;
}

@media all and (min-width: 600px) {
  .addTripForm {
    width: 600px;
    margin: auto;
  }
  .addTripForm > input {
    margin-bottom: 12px;
  }

  .country-menu {
    width: 160px;
    margin-top: 0px;
  }

  .selectCountry {
    text-align: left;
    margin-left: 20px;
  }

  .placeSearch {
    flex-direction: row;
  }

  .location-box {
    width: 400px;
  }
}

@media all and (max-width: 350px) {
  .TripCardDemo-wrapper > img {
    width: 30px;
    height: 30px;
  }

  .TripCard-bottom-info {
    width: 200px;
  }
}
