.TripCard {
  margin: auto;
  height: 400px;
  width: 250px;
  border-radius: 6px;
  border: 1px rgb(73, 73, 73) solid;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.TripCard-topimage {
  border-radius: 6px;
}

.TripCard-title {
  color: black;
  font-weight: bold;
  font-family: "Fredoka One";
}

.TripCard-title > h2 {
  font-size: 26px;
  padding-top: 15px;
  margin: 0;
}

.TripCard-topimage > img {
  height: 165px;
}

.Categories {
  padding-bottom: 20px;
}

.TripCard-bottom {
  background-color: rgb(230, 31, 130);
  height: 80px;
  width: 250px;
  color: white;
  text-shadow: 4px 1px 1px black;
  font-weight: bold;
  font-family: "Fredoka One";
  letter-spacing: 2px;
  font-size: 26px;
}

.TripCard-days {
  margin-top: 20px;
}
