.TripCard {
  height: 400px;
  width: 250px;
  border-radius: 6px;
  border: 2px rgb(104, 104, 104) solid;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  margin-top: 25px;
}

.TripCard:hover {
  box-shadow: 2px 11px 11px rgb(122, 122, 122);
  border: 2px rgb(219, 219, 219) solid;
}

.TripCard-topimage {
  border-radius: 6px;
  width: 250px;
}

.TripCard-title {
  color: black;
  font-weight: bold;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}

.TripCard-title > h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.TripCard-topimage > img {
  height: 165px;
  width: 250px;
}

.Categories {
  font-weight: bold;
  font-size: 18px;
}

.TripCard-bottom {
  height: 80px;
  width: 250px;
  color: white;
  text-shadow: 2px 1px 1px black;
  font-family: 'Fredoka One';
  letter-spacing: 2px;
  font-size: 18px;
}

.pink {
  background-color: rgb(211, 62, 136);
}

.blue {
  background-color: rgb(69, 84, 221);
}

.orange {
  background-color: rgb(233, 159, 64);
}

.violet {
  background-color: rgb(163, 83, 216);
}

.baby-blue {
  background-color: rgb(68, 157, 230);
}

.TripCard-bottom-info > span {
  font-size: 20px;
  vertical-align: middle;
}

.TripCard-bottom-info {
  padding-top: 25px;
  width: 250px;
}

@media all and (min-width: 800px) {
  .TripCard {
    margin: 0;
    margin-top: 40px;
  }
}
